<div class="title">
	(( Editable title ))
</div>

<div class="properties">
	<div class="user">
		User: (( ItemSetSelect type user _id ))
	</div> 

	<div class="done">
		Done: (( Checkbox done ))
	</div>

	<div class="priority">
		Priority: (( Number priority )) <!-- TODO this should really be a number picker view, with key up/down -->
	</div>

	<div class="remaining_time">
		Remaining time: (( Number remaining_time ))
	</div>

	<div class="project">
		Project: (( ItemSetSelect type project title ))
	</div>
	
	<div class="burndown-chart">
		(( BurndownChart burndown_history project ))
	</div>
	
	<div class="discussion">
		<!-- We want a Discussion view over the property discussion here later -->
	</div>
</div>