<div class="left-column">
	<div class="title">
		(( Editable title ))
	</div>

	<div class="properties">
		<div class="user">
			User: (( ItemSetSelect type user email ))
		</div> 

		<div class="project">
			Project: (( ItemSetSelect type project title ))
		</div> 
		
		<div class="date">
			Date: (( DatePicker date ))
		</div>
		
		<div class="status">
			Crucial (( Checkbox crucial ))
			<br />
			Backlog (( Checkbox backlog ))
			<br />
			Completed (( Checkbox done ))
		</div>
	</div>

	<div class="description">
		(( Editable description ))
	</div>
</div>

<div class="right-column">
	<div class="discussion">
		(( Discussion comments ))
	</discussion>
</div>