body, html { font-family: tahoma,sans-serif; overflow: hidden; color: #222222; font-size: 13px; }

.Editable { cursor: pointer; }
.Editable.defaultValue { font-style: italic; color: #333; }

.KeyboardFocus .piece { position: absolute; background: #76aee5; opacity: .65; }
.KeyboardFocus .piece.top { -moz-border-radius: 20px 20px 0 0;
	-webkit-border-top-right-radius: 20px; -webkit-border-top-left-radius: 20px; }
.KeyboardFocus .piece.bottom { -moz-border-radius: 0 0 20px 20px;
	-webkit-border-bottom-right-radius: 20px; -webkit-border-bottom-left-radius: 20px; }

/*********
 * Links *
 *********/
.Link { color: #559; text-decoration: underline; font-size: 12px; cursor: pointer; }

/**********
 * Inputs *
 **********/
.Input { padding: 2px 3px; height: 25px; font-family: arial,sans-serif; font-size: 13px; }
.Input.defaultValue { font-style: italic; color: #333; }

/***********
 * Overlay *
 ***********/
.Overlay { position: fixed; top: 0px; left: 0px; z-index: 2; }
.Overlay .underlay { background-color: #333; opacity: .89; position: absolute; top: 0px; left: 0px; }
.Overlay .content { position: absolute; top: 0px; left: 0px; border: 8px solid #ddd; background-color: #ddd;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

/**********
 * Panels *
 **********/
.Panel { position: absolute; border: 1px solid #aaa; background-color: #999;
	top: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

.Panel .View .header { position: absolute; background-color: #fff; border: 1px solid #aaa; 
	-moz-border-radius: 6px 6px 0 0; -webkit-border-top-right-radius: 8px; 
	-webkit-border-top-left-radius: 8px; }
.Panel .View .header .title { margin: 3px 0 0 7px; font-size: 13px; font-weight: bold; color: #666; }
.Panel .View .body { position: absolute; border: 1px solid #aaa; background: #fff; 
	-moz-border-radius: 0 0 6px 6px; -webkit-border-bottom-right-radius: 8px; 
	-webkit-border-bottom-left-radius: 8px; overflow-y: auto; overflow-x: hidden; }
.Panel .View .body .left-column { float: left; width: 350px; margin-bottom: 10px; }
.Panel .View .body .right-column { float: left; }
.Panel .View.narrow .body .right-column { float: right; }

.Panel .View { overflow: hidden; }
.Panel .View .body, .Panel .View .header { position: absolute; }
.Panel .View .body { overflow-x: hidden; overflow-y: auto; }

/***********
 * Buttons *
 ***********/
.Button { font-size: 12px; padding: 3px 10px 5px 10px; border: 1px outset #333; background: #ddd; 
	display: inline-block; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.Button.down { border-style: inset; background-color: #cfcfcf; }

.RadioButtons { display: inline-block; }
.RadioButtons .Button { border-right: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; }
.RadioButtons .Button.left { -moz-border-radius: 20px 0 0 20px; -webkit-border-top-left-radius: 20px; 
	-webkit-border-bottom-left-radius: 20px; }
.RadioButtons .Button.right { -moz-border-radius: 0 20px 20px 0; -webkit-border-bottom-right-radius: 20px;
	-webkit-border-top-right-radius: 20px; border-right: 1px outset; }
/**********************
 * Misc UI Components *
 **********************/
.UserIcon img { background: url("Tasks/img/user_icon.gif"); width: 50px; height: 50px; }

.TimeString { font-size: 12px; color: #666; }