body, html {
	font-family: arial,sans-serif;
	overflow: hidden;
	color: #222222;
	font-size: 14px;
}

/*********
 * Links *
 *********/
.Link {
	color: #559;
	text-decoration: underline;
	font-size: 11px;
	cursor: pointer;
}

/**********
 * Inputs *
 **********/
.Input {
	padding: 2px 3px;
}
.Input.defaultValue {
	font-style: italic;
	color: #333;
}

/***********
 * Overlay *
 ***********/
.Overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.Overlay .underlay {
	background-color: #333;
	opacity: .89;
	position: absolute;
	top: 0px;
	left: 0px;
}
.Overlay .content {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 8px solid #ddd;
	background-color: #ddd;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


/**********
 * Panels *
 **********/

.Panel {
	position: absolute;
	border: 1px solid #888;
	background-color: #aaa;
	top: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.Panel .header {
	position: absolute;
	background-color: #fff;
	border: 1px solid #888;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
}

.Panel .header .title {
	margin: 3px 0 0 7px;
	font-size: 13px;
	font-weight: bold;
	color: #666;
}

.Panel .content {
	position: absolute;
	border: 1px solid #888;
	background: #fff;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	overflow-y: auto;
	overflow-x: hidden;
}
