/*****************
 * Login Manager *
 *****************/
.LoginManager { width: 250px; height: 90px; }
.LoginManager .inputs { display: block; width: 200px; margin: 20px auto; }
.LoginManager .inputs .Input { width: 100%; margin-top: 2px; }
.LoginManager .Button { position: absolute; bottom: 3px; right: 24px; }
.LoginManager .Link { position: absolute; bottom: 8px; left: 5px; }

/**********
 * Panels *
 **********/
.Panel .header .RadioButtons { margin: 7px 0 0 7px; }
.Panel .header .createButton { float: right; margin: 7px 7px 0 0; }

.ListPanel .AppsTabs { position: absolute; top: 19px; left: -28px; }
.ListPanel .AppsTabs .Button { display: block; -moz-border-radius: 3px; -webkit-border-radius: 3px; 
	width: 6px; height: 15px; overflow: hidden; background: no-repeat 5px 4px; border-right: none;
	border-width: 2px; border-bottom-width: 1px; }
.ListPanel .AppsTabs .Button.down { background-position: 5px 5px; background-color: #e5e5e5; width: 5px; }
.ListPanel .AppsTabs .Button.tasks { background-image: url("img/apps/tasks.png"); }
.ListPanel .AppsTabs .Button.projects { background-image: url("img/apps/projects.png"); }
.ListPanel .AppsTabs .Button.calendar { background-image: url("img/apps/calendar.png"); }
.ListPanel .AppsTabs .Button.changes { background-image: url("img/apps/changes.png"); }
.ListPanel .AppsTabs .Button.coworkers { background-image: url("img/apps/coworkers.png"); }
.ListPanel .AppsTabs .Button.accomplishments { background-image: url("img/apps/accomplishments.png"); }

.List { margin: 5px 0; }
.List .cell { cursor: pointer; padding: 4px 6px; 
	margin: 0px 5px; font-size: 12px; min-height: 18px; }
.List .cell .title { font-size: 12px; }
.List .cell:nth-child(odd) { background-color: #e5e4fc; }
.List .cell.crucial { background-color: #fcfcee; }
.List .cell.crucial:nth-child(odd) { background-color: #fbebdd; }
.List .cell.crucial .title { color: #222; }
.List .cell.selected { border-color: #abd; }
.List .cell .fin-Template { padding: 0px; }
.List .group .header { display: inline-block; margin: 6px 0 0 6px; padding: 2px 5px; position: static; 
	border-color: #666; }

.ItemPanel .fin-Template { display: block; padding: 10px; }
.ItemPanel .title { font-size: 19px; }
.ItemPanel .properties { margin: 0 0 15px 0; }
.ItemPanel .properties > div { margin: 10px 0 0 0; }
.ItemPanel .properties .Value { position: absolute; left: 140px; }
.ItemPanel .properties .Value.BurndownChart { position: static; }
.ItemPanel .properties .Input { margin-top: -2px; }
.ItemPanel .properties .Checkbox { margin-top: 1px; }
.ItemPanel .properties .Select { left: 139px; width: 165px; padding: 2px; }
.ItemPanel .properties .Select option { padding: 2px; }
.ItemPanel .discussion { width: 345px; }
.ItemPanel .discussion .Button { position: relative; left: 266px; bottom: 23px; }
.ItemPanel .discussion .UserIcon img { margin: 1px 8px 0 0; }
.ItemPanel .discussion .Input { float: right; width: 280px; height: 50px; margin-right: 5px; }
.ItemPanel .discussion .List { clear: both; overflow: auto; }
.ItemPanel .discussion .cell { clear: both; margin-bottom: 8px; min-height: 51px; }
.ItemPanel .discussion .cell { clear: both; }
.ItemPanel .discussion .cell .UserIcon { float: left; }
.ItemPanel .discussion .cell .TimeString { margin-bottom: 8px; }

.CalendarView .groupHeader { width: 20%; float: left; margin-top: 10px; text-align: center; }
.CalendarView .group { width: 20%; float: left; }

