/*****************
 * Login Manager *
 *****************/

.LoginManager {
	width: 250px;
	height: 90px;
}
.LoginManager .inputs {
	display: block;
	width: 200px;
	margin: 20px auto;
}
.LoginManager .inputs .Input {
	width: 100%;
	margin-top: 2px;
}
.LoginManager .Button {
	position: absolute;
	bottom: 3px;
	right: 5px;
}
.LoginManager .Link {
	position: absolute;
	bottom: 8px;
	left: 5px;
}

/**********
 * Panels *
 **********/

/* Labels Panel */
.LabelsPanel .List {
	margin: 5px 0 0 11px;
}
.LabelsPanel .List .cell {
	cursor: pointer;
	margin: 0 0 0 10px;
	font-size: 15px;
	color: #444;
}
.LabelsPanel .List .cell.my-tasks, 
.LabelsPanel .List .cell.projects {
	margin: 5px 0 0 0;
	font-weight: bold;
} 

.LabelsPanel .List .cell.selected {
	text-decoration: underline;
}

/* List Panel */
.ListPanel .Button {
	position: absolute;
	bottom: 10px;
	right: 17px;
}

.ListPanel .List {
	margin: 5px 0;
}

.ListPanel .List .cell {
	cursor: pointer;
	height: 38px;
	overflow: hidden;
	padding: 2px 6px 0px;
	margin: 0px 5px;
	border: 3px solid #fff;
}

.ListPanel .List .cell:nth-child(odd) {
	background-color: #eeedfc;
	border-top-color: #eeedfc;
	border-bottom-color: #eeedfc;
}
.ListPanel .List .cell.selected {
	border-color: #abd;
}

.ListPanel .List .cell .title {
	color: #333;
	height: 17px;
	overflow: hidden;
}
.ListPanel .List .cell .info {
	margin-top: 2px;
}
.ListPanel .List .cell .info .user {
	font-size: 12px;
	color: #666;
}
.ListPanel .List .cell .info .priority {
	float: right;
	font-size: 12px;
	color: #666;
}

/* Item Panel */
.ItemPanel .fin-Template {
	display: block;
	padding: 10px;
}

.ItemPanel .title {
	font-size: 20px;
}

.ItemPanel .property-list > div {
	margin: 10px 0 0 0;
}

.ItemPanel .property-list .Value {
	position: absolute;
	left: 140px;
}

.ItemPanel .property-list .Input {
	margin-top: -2px;
}

.ItemPanel .property-list .Checkbox {
	margin-top: 1px;
}


/**************************
 * Value specific styling *
 **************************/
.fin-Value-priority-0, .fin-Value-priority-1 {
	font-weight: bold;
}
