<div class="title">
	(( Editable title ))
</div>

<div class="property-list">
	<div class="user">
		User: (( Editable user )) <!-- TODO this should really be a UserPicker view -->
	</div> 

	<div class="priority">
		Priority: (( Number priority )) <!-- TODO this should really be a number picker view, with key up/down -->
	</div>

	<div class="completed">
		Completed: (( Checkbox completed ))
	</div>

	<div class="remaining_time">
		Remaining time: (( Number remaining_time ))
	</div>

	<div class="discussion">
		<!-- We want a Discussion view over the property discussion here later -->
	</div>
</div>